.bookmenu {
    border:1px solid darkgray;
    width: 180px;
    display: inline-block;
    vertical-align: top;
}

.editor {
  border: 1px solid #A9A9A9;
  display: inline-block;
  height: 100%;
  vertical-align: top;
  width: 88%;
}

.editContainer {
    margin-top: 25px;
}