<script src="js/editor.js"></script>
<script src="js/booktree.js"></script>
<script src="js/custom.js"></script>
<script src="js/classie.js"></script>
<script src="js/mlpushmenu.js"></script>
<script>
    if ($('#mp-menu').length > 0) {
        new mlPushMenu( document.getElementById( 'mp-menu' ), document.getElementById( 'trigger' ) );
    }
</script>
</body>
</html>